$text-color: #1e3948;
$border-color: #d3e0e9;

.notimatica-reset {
  margin: 0;
  padding:0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
}

.notimatica-clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.notimatica-fade {
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out;

  &.in {
    opacity: 1;
    pointer-events: auto;
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.notimatica-pull-left {
  float: left;
}

.notimatica-pull-right {
  float: right;
}
